{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1 class="text-center mt-3">Accueil</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid at
            cumque eveniet facere ipsam labore maiores minus modi natus nihil omnis perspiciatis, quasi quibusdam quo, tempora ut! Architecto, veniam</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid at
            cumque eveniet facere ipsam labore maiores minus modi natus nihil omnis perspiciatis, quasi quibusdam quo, tempora ut! Architecto, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ea itaque nisi quaerat sequi. Adipisci aliquam corporis dignissimos fugit ipsa nisi odit, possimus praesentium rem repellat repellendus repudiandae, sit vero!</p>

{% endblock %}
