{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <h1 class="text-center mt-3">Hello ACSEO!</h1>

    <p class="alert alert-warning text-center m-5">Cet espace est réservé à l'administrateur</p>

{% endblock %}
