{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <h1 class="text-center mt-3">Connexion</h1>

    <form action="" method="post">
        <div class="form-group">
            <label for="username">Votre identifiant</label>
            <input id="username" type="text" class="form-control" name="_username" required>
        </div>
        <div class="form-group">
            <label for="username">Votre mot de passe</label>
            <input id="password" type="password" class="form-control" name="_password" required>
        </div>
            <button class="btn btn-primary float-right">Connexion</button>
    </form>

{% endblock %}